<h1>Email Center</h1>

<h3>Welcome <%= @trainer.name %> - <%= @trainer.area.name %> trainer</h3>
<p>You have <%= @trainer.runners.count %> runners that need emails</p>

<ol>
<% @trainer.runners.each do |runner| %>
  <% if runner.last_email < -7.days.from_now  %>
    <li><%= runner.name %> - <%= runner.status %> - <% runner.preferences.each do |p| %> <%= p.preference %>, <% end %></li>
    <%= link_to 'Send email', send_mail_path(runner), class: 'btn btn-success' %>
    <% end %>
<% end %>
</ol>

